body{
    font-family: 'Varela Round', sans-serif;
    background-color: black;
    color: white;
    text-shadow: 0.1em 0.1em 0.3em black;
}
p{
    margin-top: -15px;
}
body{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}
.item{
	width: 200px;
	height: 200px;
	display: inline-block;
}
.item .inner{
    display: table-cell;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;   
    text-transform: capitalize;
    position: relative;
}

.txt{
    display: inline-block;
    width: 150px;
    height: 80px;
}

.txt .inner{
    display: inline-block;
    height: auto;
    max-height: 64px;
    width: 150px;
    overflow: auto;
    word-wrap: break-word;
}

.delbtn{
    position: relative;
    bottom: -20px;
    font-family: 'Varela Round', sans-serif;
}

.sign-in-text-facebook{
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
}